body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 224, 209);
  color: gray;
  margin-top: 2rem;
}
#root {
  text-align: center;
}
.logo {
  font-size: 1.7rem;
  font-weight: bold;
}
.navbar-items {
  font-size: 1.1rem;
  color: gray;
  font-weight: 300;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.carousel {
  display: flex;
  height: 30rem;
  justify-content: center;
}
.homeCarousel {
  margin: auto;

  background-color: rgb(245, 240, 235);
}
.carousel-inner {
  width: 67%;
}

.bookshelf-header {
  padding-top: 1.6rem;
  font-size: 1.7rem;
  font-weight: bold;
}

.cart {
  width: 35px;
}
.navbar-dark {
  width: 100%;
  color: gray;
  background-color: rgb(240, 224, 209);
  display: flex;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}
.navbar-dark a {
  color: gray;
}
.navbar-nav {
  display: flex;
  width: 55%;
  justify-content: space-between;
}
.navbar-light {
  width: 100%;
  padding-top: 1rem;
  background-color: rgb(240, 224, 209);
}
#basic-nav-dropdown {
  color: grey;
}
.signInButton {
  text-align: center;
}
.bookshelf {
  /* height: 35rem; */
  width: 80rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.bookInfo {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  height: auto;
}
.Searchresult {
  width: 64rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.userProfile {
  margin: auto;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.cartBooks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: 30rem;
  padding-bottom: 20px;
}
.shoppingCart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkout {
  margin-top: 5rem;
  margin-right: 10rem;
}
.addressPage {
  margin: auto;
  width: 700px;
}
.accountSettings {
  margin: auto;
  text-align: left;
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bookLogo {
  width: 60px;
  height: 60px;
}
.checkoutBox {
  padding-right: 100px;
  display: flex;
  justify-content: flex-end;
}
